@import "style.css";

/* ABOUT */
.about-cms__desc {
    line-height: 1.6rem;
}

.about-cms__img {
    border-radius: 50%;
}

/* Pricing */
.pricing {
    position: relative;
    text-align: center;
}

.pricing::before {
    content: '';
    background-color: var(--additionaly);
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    height: calc(100% - 6rem);
    z-index: 0;
}

.pricing__body {
    position: relative;
    z-index: 1;
}

.pricing__title {
    text-align: center;
}

.pricing__desc {
    line-height: 1.6rem;
    margin-bottom: 3rem;
}

.price-option__title {
    font-weight: 600;
    color: var(--tertiary);
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.price-option__inner {
    background-color: #fff;
    border: 1px solid var(--tertiary);
    height: 100%;
    padding: 1.5rem;
}

.price-option__price {
    font-size: 1.2rem;
    color: var(--tertiary);
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--tertiary);
}

.price-option__list {
    margin-top: 1rem;
}

.price-option__list-item:not(.price-option__list-item:last-child) {
    line-height: 1.6rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #d9d9d9;
}


/* About section */
.about-the-project strong {
    font-weight: bold;
}

.about-the-project__body {
    max-width: 70%;
}

.about-the-project__section {
    margin-bottom: 4rem;
}

.about-the-project__section-title {
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.about-the-project__section-desc,
.about-the-project__list-item {
    line-height: 1.6rem;
}

.about-the-project__list {
    list-style-type: disc;
    padding-left: 1rem;
}

.about-the-project__list-item {
    margin-bottom: 0.6rem;
}

.credit-desc {
    display: block;
    margin-bottom: 0.3rem;
}

.credit-link {
    color: var(--secondary);
    font-weight: bold;
    text-decoration: none;
}

.credit-link:hover {
    text-decoration: underline;
}
